<html ng-app>
<head>
<title>Ninja Whistle</title>
<meta name="description" content="This demo showcases how to use Symple to create a WebRTC chat application.">

<script>

  // Symple client options
  CLIENT_OPTIONS = {
    url: 'http://localhost:<%- port %>',
    //url: 'http://sympleserver.sourcey.com:<%- port %>',
    token: <%- token %>,
    peer: <%- JSON.stringify(peer) %>
  }

  // WebRTC config
  // This is where you would add TURN servers for use in production
  WEBRTC_CONFIG = {
    'iceServers': [
      {'url': 'stun:stun.l.google.com:19302'}
    ]
  }
</script>

<!-- Framework -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- Symple -->
<link rel="stylesheet" type="text/css" href="symple.player.css">
<script type="text/javascript" src="symple.js"></script>
<script type="text/javascript" src="symple.client.js"></script>
<script type="text/javascript" src="symple.player.js"></script>
<script type="text/javascript" src="symple.player.webrtc.js"></script>

<!-- Application -->
<link rel="stylesheet" type="text/css" href="app.css">
<link rel="stylesheet" type="text/css" href="login.css">
<link rel="stylesheet" type="text/css" href="message.css">
<script type="text/javascript" src="helpers.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="SympleChat">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NINJA WHISTLE</a>
      <img src="resource/iconNinjaBear.png" alt="Debbie Schmidt" class="img-responsive img-circle" style="height:50px" />
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:void(0)">Home</a></li>
  Notify me!
</button>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

  <div id="loading-overlay" ng-show="!isLogined">
    <div id="fullscreen_bg" class="fullscreen_bg">
       <div class="container" >

      <form class="form-signin" ng-submit="login()">
        <h1 class="form-signin-heading text-muted">Sign In</h1>
        <input id="emailInput" value="ssfsfs" ng-model="email" ng-init="email='thjnh195@gmail.com'" type="text" class="form-control" placeholder="Email address" required="" autofocus="">
        <input id="passwordInput" type="password" class="form-control" placeholder="Password" required="" value="safasf">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign In
        </button>
      </form>

    </div>

    </div>
    
  </div>
  <div id="container">

    <div class="alert alert-danger" ng-show="errorText" ng-bind="errorText">You have been disconnected from the server</div>

    <div class="row">
      <div class="col-md-4">

        <div id="login" ng-show="!isLoggedIn()" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body">
            <form ng-submit="login()">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="handle" value="auscaster" placeholder="Enter a handle to login..." />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Login</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <div id="roster">
           <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">My Profile</h3>
              </div>
              <div class="col-xs-12 col-sm-3" style="height: 80px">
                            <img src={{testArray[0].avatar}} alt="Debbie Schmidt" class="img-responsive img-circle" style="height: 70px;width: 70px" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name" style="font-size: 20px">{{peers[0].user}}</span>
                            <p>Online</p></span>
                        </div>
                        <div class="clearfix">
                  
              </div>
           </div>

           <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">People</h3>
              </div>
              <ul class="list-group">
                  <li class="list-group-item list-group-item-warning" ng-show="!isLoggedIn()"><small>Please log in...</small></li>
                  <li class="list-group-item" ng-repeat="peer in peers" ng-init="sectionIndex = $index">
                    <a href="javascript:void(0)" ng-click="setMessageTarget(peer.user)">
                      <div class="col-xs-12 col-sm-3">
                            <img src={{testArray[sectionIndex].avatar}} class="img-responsive img-circle" />
                        </div>

                        <div class="col-xs-12 col-sm-9" style="width: 60%">
                            <span class="name" style="font-size: 20px">@{{peer.user}}</span>
                            <p>3903 W Alexander Rd</p></span>
                        </div>
                        <div class="notification-icon" ng-show="testArray[sectionIndex].pending">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span class="label label-danger">{{sectionIndex}}</span>
                        </div>
                        <div class="clearfix"> </div>
                      </a>
                      
                  </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="modal fade" id="incoming-call-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Incoming call...</h4>
                </div>
                <div class="modal-body">
                  <p>You have an incoming video call from <span class="caller"></span></p>
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success accept">Accept</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger reject">Reject</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div id="video">
          <div id="camera" ng-hide="hideCamera">
            <div class="panel-heading">
              <h3 class="panel-title">Video</h3>
            </div>
            <div class="panel-body">
              <div class="local-video-wrap">
                <div class="local-video">
                </div>
                <button id="start-local-video" class="btn btn-primary" ng-click="startLocalVideo()" ng-show="remoteVideoPeer && !localVideoPlaying">Start video</button>
              </div>
              <div class="remote-video-wrap">
                <div class="remote-video">
                </div>
              </div>
              <div style="height: 40px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                <button class="btn btn-danger reject" ng-click="endCallVideo()"> End </button>
              </div>
          </div>

          
        </div>
        <div ng-show="showProfile" style="width: 100%;height: 100%;background-color: white">

                <div class="row">
            <br>
            <br>
                  <div class="span3 well">
                    <center>
                    <img src={{testArray[0].avatar}} name="aboutme" width="140" height="140" class="img-circle">
                    <!-- <img src={{currentPeerAvatar}} class="img-responsive img-circle" > -->

                     <h3>{{peers[0].user}}</h3>
                     <em>click my face for more</em>
                     <p>By the way,<br><a target="_blank" href="http://bootsnipp.com/TXTCLASS/snippets/25zz">there's a fresh 3.1.0 version ready</a></p>
                  </center>
                        <div class="modal hide" id="aboutModal">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">✕</button>
                          <h3>About Joe</h3>
                      </div>
                          <div class="modal-body" style="text-align:center;">
                          <div class="row-fluid">
                              <div class="span10 offset1">
                                  <div id="modalTab">
                                      <div class="tab-content">
                                          <div class="tab-pane active" id="about">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                  <h3 class="media-heading">Joe Sixpack <small> USA</small></h3>
                            <span><strong>Skills: </strong></span>
                            <span class="label label-warning">HTML5/CSS</span>
                            <span class="label label-info">Adobe CS 5.5</span>
                            <span class="label label-info">Microsoft Office</span>
                            <span class="label label-success">Windows XP, Vista, 7</span>
                </center>
                <hr>
                <center>
                <p class="text-left"><strong>Bio: </strong><br>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                  <br>
                  </center>
                  </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

        </div>
        <div id="messages" ng-show="!showProfile">
            <div class="panel panel-default">
            
              <div class="panel-heading" ">
                  <div class="col-xs-12 col-sm-3" style="width: 100px">
                            <img src={{currentPeerAvatar}} class="img-responsive img-circle" >

                        </div>
                        <div class="col-xs-12 col-sm-9" style="padding-left: 0px">
                            <span class="name" style="font-size: 20px">{{currentPeer.user}}</span>
                            <span><p>Online</p></span>
                        </div>
                        <div>
                          <img ng-show="hideCamera" href="javascript:void(0)" ng-click="startVideoCall(currentPeer.user)" src="http://cliparts.co/cliparts/piq/8Xp/piq8XpbbT.png" alt="Debbie Schmidt" class="img-responsive img-circle" style="height: 50px; width: 50px">
                        </div>
                        <div class="clearfix"></div>
              </div>
              <!-- <div class="chat_window"><div class="top_menu"><div class="buttons"><div class="button close"></div><div class="button minimize"></div><div class="button maximize"></div></div><div class="title">Chat</div></div><ul class="messages"></ul><div class="bottom_wrapper clearfix"><div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div><div class="send_message"><div class="icon"></div><div class="text">Send</div></div></div></div><div class="message_template"><li class="message"><div class="avatar"></div><div class="text_wrapper"><div class="text"></div></div></li></div> -->

              <ul class="list-group">
                <div style="height: 350px;">
                  <ul id="messagesList" style="height:350px;list-style-type:none;white-space:nowrap;overflow-x:auto;">
                  
                  <li ng-repeat="message in currentMessages" >
                    <div ng-class="getMessageClass(message)">
                    <p class="text-muted">{{message.user}}</p>
                      <span>{{message.data}}</span>
                    </div>
                    <br>
                  </li>
                  
                  <!-- <div class="message_template">
                    <li class="message"  ng-repeat="message in currentMessages">
                      <span class="time">{{message.time}}</span>
                      <span class="user">@{{message.user}}: </span>
                      <span class="data">{{message.data}}</span>
                    </li>
                  </div> -->
                  </ul>
                    

                </div>
                  
                  <li class="list-group-item">
                    <form id="post-message" ng-submit="sendMessage()">
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button class="btn btn-default dropdown-toggle direct-user" data-toggle="dropdown" type="button">@</button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" ng-click="setMessageTarget()">Send to everyone</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="peer in peers">
                              <a href="javascript:void(0)" ng-click="setMessageTarget(peer.user)">@{{peer.user}}</a>
                            </li>
                          </ul>
                        </span>
                        <input type="text" class="form-control message-text" ng-model="messageText" placeholder="Type your message here" />
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Send!</button>
                        </span>
                      </div>
                    </form>
                  </li>
                  
              </ul>
            </div>
        </div>
      </div>
    </div>

    <footer>
      Built with <a href="http://sourcey.com/symple">Symple</a>,
      <a href="http://socket.io">Socket.IO</a>,
      <a href="http://getbootstrap.com">Bootstrap</a> and
      <a href="http://angularjs.org">AngularJS</a>.
      &copy; 2016 Sourcey
    </footer>
  </div>
</body>
</html>
